'.source.git-config':
  'editor':
    'commentStart': '# '
'.text.git-commit':
  'editor':
    'foldEndPattern': '^---'
    'preferredLineLength': 72
'.text.git-rebase':
  'autocomplete':
    'symbols':
      'function':
        'selector': 'support.function.git-rebase'
        'typePriority': 1
        'suggestions': ['pick', 'reword', 'edit', 'squash', 'fixup', 'drop']
